<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" rel="stylesheet">
    <title>Munchies | New group order</title>
</head>
<body>
<div class="container" th:insert="nav"></div>
<div class="container">
    <div class="row">
        <h2>Create new group order</h2>
    </div>
    <form method="post" th:action="@{/orders/save}">
        <div class="form-group">
            <label for="employee">Employee name</label>
            <input class="form-control" id="employee" placeholder="Enter your name" th:field="*{grouporder.groupOrderEmployee}" type="text"/>
            <ul class="text-warning list-unstyled">
                <li th:each="err: ${#fields.errors('grouporder.groupOrderEmployee')}" th:text="${err}" class="error small"></li>
            </ul>
        </div>
        <div class="form-group">
            <label for="restaurant">Restaurant name</label>
            <select id="restaurant" th:field="*{grouporder.restaurant}" class="form-control">
                <option value="0">Select restaurant</option>
                <option th:each="restaurant: ${restaurants}" th:value="${restaurant.restaurantId}"  th:text="*{restaurant.restaurantName}"></option>
            </select>
            <ul class="text-warning list-unstyled">
                <li th:each="err: ${#fields.errors('grouporder.restaurant')}" th:text="${err}" class="error small"></li>
            </ul>
        </div>
        <div class="form-group">
            <label for="timeout">Group order timeout</label>
            <input class="form-control" type="number" id="timeout" placeholder="Enter timeout for group order (default 10)" th:field="*{grouporder.groupOrderTimeout}"/>
            <ul class="text-warning list-unstyled">
                <li th:each="err: ${#fields.errors('grouporder.groupOrderTimeout')}" th:text="${err}" class="error small"></li>
            </ul>
        </div>
        <button class="btn btn-primary margin-top" type="submit">Submit</button>
    </form>

</div>
</body>
</html>